/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:wght@300&display=swap');

/* common css start */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common css end */

/* header code start */
header{
    padding: 25px 0;
    border-bottom: 1px solid #626262;
}
.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    /* border: 1px solid red; */
}
.logo{
    margin-top: 10px;
    width: 12%;
    float: left;  
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 65%;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    margin: 0 50px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: 0.33s linear;
}
.menu ul li a:hover{
    border-bottom: 1px solid #b4ad9e;
}
.menu ul li:last-child a{
    padding-right: 0;
}
/* header code end */

/* banner start */
.banner{
    padding: 60px 0;
}
.banner_img img{
    width: 100%;
}
/* banner end */

/* photodairy section start */
    .photodairy{
        width: 90%;
        padding: 60px 80px;
    }
    .photodairy h4{
        font-family: "Ubuntu", sans-serif;
        color: #b4ad9e;
        text-transform: uppercase;
    }
    .photodairy h2{
        font-size: 30px;
    }
    .photodairy p{
        padding: 10px 0 20px 0;
    }

/* photodairy section end */

/* Life style section start */
    .lifeStyle{
        padding: 60px 0;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    .L_single{
        width: 45%;
        margin-bottom: 130px;
        float: left;
    }
    .R_single{
        width: 45%;
        margin-bottom: 130px;
        float: right;
    }
    .img_box img{
        width: 100%;
    }
   
    .text_box h4{
        font-family: "Ubuntu", sans-serif;
        color: #b4ad9e;
        text-transform: uppercase;
    }
    .text_box h2{
        margin-bottom: 40px;
        font-size: 30px;
    }
    .text_box p{
        text-align: justify;
    }


/* Life style section end */

/*sign up section start*/
    .sign_up{
        padding-bottom: 80px;
        background-color: #8d8d8d38;
    }
    .newsletter{
        width: 40%;
        margin: 0 auto;
    }
    .newsletter h2{
       font-size: 30px;
       color: #333333;
       text-align: center;
        padding: 50px 0;
    }
    form{
        text-align: center;
    }
    form input{
        margin: 0 auto;
        width: 70%;
        padding-top: 15px;
        border: none;
        border-bottom: 2px solid #626262;
        background: none;
        font-size: 18px;
       
    }
    .plan{
        position: relative;
    }
    .plan img{
        position: absolute;
        top: -15px;
        left: -40px;
        display: inline-block;
    }
    
/*sign up section end*/

/* lifestyle 02 section button start*/
.lifeStyle_02{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.button_parent{
    width: 11%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.loadeMore_btn button{
    margin: 0 auto;
    padding: 15px 35px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
}
/* lifestyle 02 section button end */

/* footer sectio start */
    footer{
        background-color: #8d8d8d38;
    }
    .F_parent{
        overflow: hidden;
        width: 100%;
        height: 100px;
    }
    .L_content{
        float: left;
        margin-top: 40px;
        color: #000000;
        font-weight: 700;
    }
    .L_content a{
        text-decoration: none;
        color: #000000;
    }
    .R_content{
        margin-top: 40px;
        float: right; 
        padding-right: 10px; 
    }
    .R_content span{
        color: #000000;
        font-weight: 700;
    }

/* footer section end */